section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 120px 20px 10px;
    background: url("img/header.png") 50% / cover no-repeat;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    position: relative;
}

.contenido-seccion {
    text-align: center;
}

.title-text {
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}


.main-divider {
    margin-bottom: 20px; 
    border: 10px solid #000;
    width: 80%;
    margin: 0 auto;
}

.article {
    padding: 10px;
    text-align: center;
    border-right: 3px solid #000;
}

.article:last-child {
    border-right: none;
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    background-color: #287EFF;
    color: #000;
    border-radius: 10px;
    width: 45%;
    padding: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 0; /* Elimina el margen predeterminado del título */
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Resto de estilos */

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.company-logo {
    width: 30px; /* Ajusta el ancho de la imagen según tu preferencia */
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
}

.footer-left, .footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* Espaciado entre los enlaces */
}

.footer-right a:hover {
    text-decoration: underline; /* Subrayar los enlaces al pasar el cursor por encima */
}


.show-more-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #333;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}
