body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 150px 30px 104px;
    background: #287EFF;
}

#logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 414px;
    height: 188px;
}

#call {
    text-align: center;
}

.icon {
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.call-text {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.usericon {
    position: absolute;
    left: 94%;
}